[user]
    name = Prashanth Chandra
    email = coolshanth94@gmail.com
    username = prashcr
[core]
    editor = vim
    excludesfile = /Users/prashanthcr/.gitignore_global
    autocrlf = input
    compression = 0
[alias]
    co = checkout
    ci = commit
    st = status
    br = branch
    hist = log --pretty=format:'%h %ad | %s%d [%an]' --graph --date=short
    type = cat-file -t
    dump = cat-file -p
    lg = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold yellow)%d%C(reset) %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)'
    l = log --graph --oneline --all --decorate
    f = !git fetch --all --tags --verbose && git remote --verbose update --prune
[filter "media"]
    required = true
    clean = git media clean %f
    smudge = git media smudge %f
[push]
    default = matching
[difftool "sourcetree"]
    cmd = opendiff \"$LOCAL\" \"$REMOTE\"
    path = 
[mergetool "sourcetree"]
    cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
    trustExitCode = true
[credential]
    helper = osxkeychain
[filter "lfs"]
    clean = git-lfs clean %f
    smudge = git-lfs smudge %f
    required = true
